{
  "globals": {
    "wrapper": true,
    "expect": true,
    "Element": true,
    "jest": true
  },
  "root": true,
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "template-curly-spacing" : "off",
    "for-direction": "off",
    "getter-return": "off",
    "no-debugger": 2,
    "no-proto": 0,
    "space-before-function-paren": 0,
    "object-curly-spacing": 0,
    "indent": 0
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
